table {
    border-collapse: collapse;
}

table, td {   
    border: 1px solid black;
}

.table-container {
    height: 600px;
    width: 1000px;
    overflow: scroll;
}

th{ 
    position: sticky;
    top: 0px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

tfoot {
    position: sticky;
    left: 0px;
    bottom: 0px;  
    display: block;
    background-color: black;
    color: white;
}
